$gray: #6B6B6C;


@import './fonts';
@import './normalize.css';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}



.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

.profitable-top {
    background-image: url(../image/Rectangle.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-right: 200px;
}


.profitable-top-title {
    max-width: 769px;
    display: flex;
    align-items: center;
    background-color: #0B7572;
    padding: 178px 0 166px 90px;
    clip-path: polygon(0 0, 60% 0, 100% 100%, 0 100%);
}

.profitable-top-title{

    h2 {
    max-width: 362px;
    font-family: "Exo 2";
    font-size: 48px;
    font-weight: 600;
    line-height: 60px;
    color: #fff !important;
    }
}

.texts {
    padding: 50px;

    h1 {
       font-family: 'Exo 2', sans-serif; 
       font-weight: 600;
       font-size: 48px;
       line-height: 60px;

    }

    p {
        font-family: 'PT Sans', sans-serif;
        max-width: 467px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: $gray;
    }
}

.card_container {
    display: flex;
    justify-content: center;
    gap: 100px;
}


.card_content {
    max-width: 393px;
    border-radius: 10px;
    -webkit-box-shadow: 1px 5px 18px 0px rgba(191, 191, 191, 1);
    -moz-box-shadow: 1px 5px 18px 0px rgba(191, 191, 191, 1);
    box-shadow: 1px 5px 18px 0px rgba(191, 191, 191, 1);

    h4 {
        font-family: 'Exo 2', sans-serif;
        font-weight: 600;
        font-size: 20px;
        line-height: 27px;
        margin-top: 10px;
        padding-inline: 15px;
    }

    p {
        max-width: 340px;
        font-family: 'PT Sans', sans-serif;
        color: $gray;
        margin-top: 10px;
        padding-inline: 15px;
    }

    &:hover {
        transform: scale(1.02);
    }
}

.divs {
    padding: 15px;
    margin: 0 auto;

    .card_price {
        display: inline-flex;
        flex-direction: column;

        img {
            padding-inline: 15px;
        }

        a {
            font-family: 'Exo 2', sans-serif;
            font-weight: 600;
            text-decoration: none;
            color: #363738;
            padding: 15px;
            transition: transform 0.3s ease;
        }

        a:hover {
            color: rgb(109, 158, 201);
            transform: scale(1.05);
        }
    }
}


.texts-2 {
    font-family: 'Exo 2', sans-serif;
    font-weight: 600;
    padding: 35px;
    font-size: 48px;
    line-height: 60px;
}

.card_container-2 {
    max-width: 1400px;
    padding-inline: 100px;
    margin: 0 auto;
}




.card_content-2 {
    margin: 0 auto;
    margin-top: 24px;
    -webkit-box-shadow: 1px 1px 15px 2px rgba(0,0,0,0.37);
    -moz-box-shadow: 1px 1px 15px 2px rgba(0,0,0,0.37);
    box-shadow: 1px 1px 15px 2px rgba(0,0,0,0.37);
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.photo {
    img {
        padding: 32px 0  32px 0;
    }
}

.card_1 {

    h5 {
        font-weight: 600;
        font-family: 'Exo 2', sans-serif;
        font-size: 20px;
        line-height: 25px;
        
    }


    p {
        max-width: 568px;
        font-family: 'PT Sans', sans-serif;
        line-height: 24px;
        color: $gray;
        margin-top: 20px;
    }
}

.cards-2 {
    max-width: 1212px;
    margin: 0 auto;
}

.texts-3 {  
    padding: 35px;
    margin: 0 auto;
    h2 {
        font-family: 'Exo 2', sans-serif;
        font-weight: 600;
        font-size: 48px;
        line-height: 60px;
    }
}

.unity {
    max-width: 1212px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.one {
    max-width: 184px;
    text-align: center;
    p:nth-of-type(1) {
        max-width: 184px;
        font-family: 'Exo 2', sans-serif;
        font-weight: 600;
        font-size: 20px;
        line-height: 27px;
        text-align: center;
        padding-top: 20px;
    }

    p:nth-of-type(2) {
        max-width: 184px;
        font-family: 'PT Sans', sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        color: $gray;
        margin-top: 8px;
        text-align: center;
    }
}




.two {
    @extend .one;
    img {
        margin-bottom: 30px;
    }
}

.three {
    @extend .one;
}

.four {
    @extend .one;
    max-width: 225px;
    
    p:nth-of-type(1) {
        max-width: 225px;
    }

    p:nth-of-type(2) {
        max-width: 225px;
    }
}

.binary {
    max-width: 1212px;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

.cards-3 {
    @extend .cards-2;
}

.five {
    @extend .one;
}

.six {
    @extend .one;
}

.seven {
    @extend .one;
}

.eight {
    @extend .one;
}